.start {
    min-height:calc(var(--vh, 1vh) * 100);
    display:flex;
    flex-direction:column;
    
    & > div:first-of-type {
        flex:1;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .hello {
        margin-top:5rem;
        display:flex;
        flex-direction:column;

        span, a {
            display:block;
            font-size:min(calc(1rem + 1vw), 2rem);
            padding-left:min(calc(0.2rem + 1vw), 5rem);
            position: relative;
            z-index:9999;
        }

        span {
            padding-bottom:min(calc(0.2rem + 0.5vw), 5rem);
        }

        a {
            padding-top:min(calc(0.2rem + 0.5vw), 5rem);
            color:#fff;
        }

        h1 {
            font-weight:600;
            display:inline;
            font-size:min(calc(1rem + 6vw), 8rem);
            padding-left:min(calc(0.2rem + 1vw), 5rem);
            padding-right:min(calc(0.2rem + 1vw), 5rem);
            background: rgb(255,0,0);
            background: linear-gradient(147deg, rgba(255,0,0,1) 0%, rgba(255,0,48,1) 1%, rgba(255,0,153,1) 37%, rgba(255,220,0,1) 100%, rgba(0,86,236,1) 255%);
            box-shadow:0px 0px 250px 20px #ff0099;
        }
    }

    .arrow {
        width:100%;
        align-self:flex-end;
        margin:0 0 2rem 0;
        
        svg {
            margin:auto;
            display:block;
            fill:#fff;
            width:3rem;
            height:3rem;
        }
    }
}