{{ define "main" }}
<div class="portfolio--item">
    <div class="back">
        <a href="/portfolio" class="button--blue">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/></svg>
                <span>GO BACK</span>
            </div>
        </a>
    </div>
    <div class="content">
        <div class="type--item">
            {{ if eq .Params.project "personal" }}
            <div class="type personal">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
                <p>Personal project</p>
            </div>
            {{ end }}
            {{ if eq .Params.project "school" }}
            <div class="type school">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
                <p>School project</p>
            </div>
            {{ end }}
            {{ if eq .Params.project "work" }}
            <div class="type work">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"/></svg>
                <p>Work</p>
            </div>
            {{ end }}
        </div>
        <h2>{{ .Params.title }}</h2>
        <h3>{{ .Params.text }}</h3>
        {{ .Content }}
    </div>
</div>
{{ end }}