{{ define "main" }}
<div class="start">
    <div>
        <div class="hello">
            <span class="hello">Hi! 👋 My name is</span>
            <h1>Samuel Larsson</h1>
            <a href="mailto:samlarsson94@gmail.com">samlarsson94@gmail.com</a>
        </div>
    </div>
    <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
    </div>
</div>
<div class="portfolio">
    <h2>Portfolio</h2>
    {{ partial "portfolio.html" . }}

    <!-- <div class="portfolio--grid">
        {{ $portfolio := .Site.GetPage "/portfolio"  }}
        {{ range $portfolio.Pages.ByPublishDate.Reverse }}
            <div>
                <h3>{{ .Params.title }}</h3>
                <img src="{{ .Params.image }}" alt="{{ .Params.title }}"/>
                <p>{{ .Params.text }}</p>
                <div class="goto">
                    <a href="{{ .URL }}" class="button--blue">
                    READ MORE
                    </a>
                </div>
            </div>
        {{ end }}
    </div> -->
</div>



    <!-- <div class="portfolio--grid">
        <div>
            <h3>Tanks</h3>
            <img src="img1.png" alt="swag"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="goto">
                <a href="#" class="button--blue">
                READ MORE
                </a>
            </div>
        </div>

        <div>
            <h3>AIM Control</h3>
            <img src="img1.png" alt="swag"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="goto">
                <a href="#">
                READ MORE
                </a>
            </div>
        </div>
        

        <div>
            <h3>Tanks</h3>
            <img src="img1.png" alt="swag"/>
            <p>Lorem ipsum dolor sit amet, co.</p>
            <div class="goto">
                <a href="#">
                READ MORE
                </a>
            </div>
        </div>

        <div>
            <h3>Tanks</h3>
            <img src="img1.png" alt="swag"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="goto">
                <a href="#">
                READ MORE
                </a>
            </div>
        </div>

        <div>
            <h3>Tanks</h3>
            <img src="img1.png" alt="swag"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="goto">
                <a href="#">
                READ MORE
                </a>
            </div>
        </div>

    </div>
</div> -->


{{ end }}